.cardContainer {
	padding: 4rem 3rem;
	max-width: 25rem;
	margin: 2rem auto;
	border-radius: 0.4rem;
	cursor: pointer;
}

.title {
	font-size: 1.5rem;
	margin-bottom: 1rem;
	text-align: center;
	font-weight: bold;
	border-bottom: 5px solid var(--accent);
	font-family: 'Poppins', sans-serif;
	font-size: x-large;
}

a {
	text-decoration: none;
	color: var(--text);
	font-weight: 200;
}



.icons {
	font-size: xx-large;
	display: flex;
	color: var(--accent);
	max-width: 2rem;
	margin: auto;
	border-bottom: 2px solid var(--accentcontrast);
	justify-content: center;
	justify-items: center;
	margin-bottom: 4rem;
}

.cardContainer:hover {
	transform: scale(1.102);
	transition: all 0.1s linear;
}
.tech{
	padding: 0.3rem 1rem;
	color: var(--text);
	font-family: 'Roboto Mono', monospace;
	font-size: var(--p);
}

.hidden_content {
	visibility: hidden;
}
p {
	font-family: 'Inter', sans-serif;
}