.cardContainer {
	padding: 4rem 3rem;
	max-width: 20rem;
	margin: 2rem auto;
	border-radius: 0.4rem;
	cursor: pointer;
}

.title {
	font-size: 1.5rem;
	margin-bottom: 1rem;
	text-align: center;
	font-weight: bold;
	border-bottom: 5px solid #d17347;
	font-family: 'Poppins', sans-serif;
	font-size: x-large;
}

a {
	text-decoration: none;
	color: #e2e2e2;
	font-weight: 200;
}



.icons {
	font-size: xx-large;
	display: flex;
	color: #d17347;
	max-width: 2rem;
	margin: auto;
	border-bottom: 2px solid #d17347;
	justify-content: center;
	justify-items: center;
	margin-bottom: 4rem;
}

.cardContainer:hover {
	transform: scale(1.102);
	transition: all 0.1s linear;
}
.tech{
	background-color: #141414;
	padding: 0.3rem 1rem;
	color: #585858;
	font-family: 'Roboto Mono', monospace;
}

.hidden_content {
	visibility: hidden;
}


p {
	font-family: 'Inter', sans-serif;
	max-width: 10rem;
}